#weiKeyBoard {
    border-spacing: 0px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    height: 50%;
    width: 99%;
    background-color: #ffffff;
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 0px;
}

    #weiKeyBoard tr {
    }

    #weiKeyBoard td {
        border-left: 1px solid #d2d2d2;
        font-size: 21pt;
        border-spacing: 0px;
        border-top: 1px solid #d2d2d2;
    }

.weiKeyNum {
    width: 33.33%;
    height: 50px;
    text-align: center;
}
